$white: #f6f6f6;
$black: #060606;

$browse-border-color: #f6f6f6;
$browse-btn-color: #f6f6f6;
$browse-btn-background: none;
$browse-border-color-hover: rgb(228, 228, 228);
$browse-btn-color-hover: #060606;
$browse-btn-background-hover: #DEC6A7;
$browse-stripe-height: 7px;